<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.macprogrammer dvorak normal keypad (english singapore)</string>
	<key>CFBundleName</key>
	<string>Programmer Dvorak - Normal Keypad</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Programmer Dvorak - Normal Keypad</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.macprogrammer dvorak normal keypad (english singapore).programmerdvorak - normal keypad</string>
		<key>TISIntendedLanguage</key>
		<string>en-SG</string>
	</dict>
</dict>
</plist>
